* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0A0C0B;
  color:white;
  font-family: 'Noto sans hk', sans-serif;
}

/* NAVBAR */
nav{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #141615;
}

.nome {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    font-weight: bold;
}

.nome p:first-child {
    font-size: 12px;
    font-weight: bold;
}

.nome p:last-child {
    font-size: 12px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

span{
  color:#4B818D;
}

.logo img {
    width: 60px;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 8px;
}

/* Barrinha */
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;

    background-color: #4B818D;

    transition: width 0.2s ease;
}

/* Barrinha do item ativo */
nav a.active::after {
    width: 100%;
}

/* MAIN */

main {
    flex: 1;
    padding-top: 100px; /* ajuste conforme a altura real do seu nav */
}

section {
    scroll-margin-top: 100px; /* mesmo valor acima, evita a nav cobrir o topo da seção */
}

/* TURMA */

.turma {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 5rem; /* ajuste conforme o padding do resto do site */
}

.turma-topo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.turma-header{
    flex: 1;
    min-height: 280px;
}

.turma-header h1{
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: 2px;
}

.turma-header p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    width: 80%;
    margin-left: 0.5rem;
}

.turma-imagem{
    flex: 1;
    min-width: 380px;
    max-width: 600px;
    border-radius: 12px;
    border: 2px solid rgb(75, 129, 141);
}

.turma-imagem:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(75, 129, 141, 0.2);
}

.turma-cards {
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    max-width: 100%;     
    gap: 2rem;
}

.card {
    flex: 1;
    min-width: 160px;
    max-width: 300px;
    height: 130px;
    background-color: #1C1E1D;
    border: 1px solid #4B818D;
    border-radius: 16px;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(75, 129, 141, 0.3);
}

.card-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-titulo h3{
     font-size: 1.2rem;
     margin: 0;
     font-weight:200;
}

.card-titulo i{
    font-size: 1.5rem;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    border: 1px solid #4B818D;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
}

.card p{
    margin-top: 1rem;
    padding-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.card-subtitulo{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 0.85rem;
    line-height: 1.5;
    color:grey;
}
/* DOCENTE */
/* GRADE */
/* ROADMAP */
/* ESTUDANTES */


/* FOOTER */

footer {
    background-color: #141615;
    padding: 2rem 5rem;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

footer p {
    margin: 0;
}